<ion-header>
  <ion-toolbar>
    <ion-title size="large"> Video Life Certificate </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; display: grid; margin-top: 15%">
    <img
      style="width: 120px; place-self: center"
      src="../../assets/images/success.png"
    />
    <ion-label style="font-size: xx-large; color: #0d3b79; margin-top: 10%"
      >Thanks! It's done</ion-label
    >
  </div>
  <div style="text-align: center; margin-top: 15%">
    <ion-button routerLink="/home">Go Back</ion-button>
  </div>
</ion-content>
